body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*
----------------------------------BUTTONS------------------------------
*/

#HomePageShopNow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-style: italic;
  padding: 12px 50px;
  cursor: pointer;
  border: none;
  font-weight: bolder;
}

/*
--------------------------------- NAV BAR -----------------------------
*/

#navbarContainer {
  display: flex;
  justify-content: space-between;
  background-color: #ffeeb2;
  margin: 0px;
}

.navBarHeaderLeft {
  display: flex;
}

.navBarHeaderLeft > img {
  margin: 10px;
  cursor: pointer;
  align-self: center;
}

.navBarHeaderLeft > a {
  margin: 12px;
  font-style: italic;
  color: black;
  align-self: center;
}

/*
------------------- SIDE BAR / OPEN HAMBURGER NAVIGATION -------------------
*/

#sidebarNav {
  position: fixed;
  background-color: rgb(252, 243, 210);
  height: 100vh;
  width: 300px;
  z-index: 1;
  top: 0;
  left: 0;
}

#sidebarNavHeader {
  display: flex;
  justify-content: space-between;
}

#sidebarNavHeader > h6 {
  margin: 20px;
  align-self: center;
  font-size: medium;
}

#sidebarNavHeader > div {
  margin: 20px;
  cursor: pointer;
}

/*
--------------------------------- HOMEPAGE ----------------------------
*/

#HomePageHeader {
  padding: 40px;
}

#HomePageHeader > h1 {
  font-size: 50px;
  font-weight: 60;
  margin: 0;
}

#HomePageHeader > h2 {
  font-size: 20px;
  font-weight: 60;
  margin: 0;
  font-style: italic;
}

#HomePageImageContainer {
  position: relative;
}

#HomePageImageContainer > img {
  position: relative;
  margin: 0 auto;
  display: block;
}

/*
------------------------------ALL FRUIT PAGE----------------------------
*/

.FruitCard {
  cursor: pointer;
}
