body {
  font-family: sans-serif;
  background-color: rgb(201, 238, 215);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/*
----------------------------------BUTTONS------------------------------
*/

#HomePageShopNow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-style: italic;
  padding: 12px 40px;
  cursor: pointer;
  border: none;
}

/*
--------------------------------- NAV BAR -----------------------------
*/

.navBarHeader {
  font-style: italic;
  color: black;
}

/*
------------------- SIDE BAR / OPEN HAMBURGER NAVIGATION -------------------
*/

#sidebarNav {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
}

#sidebarNav > div > h6 {
  padding: 20px;
}

/*
--------------------------------- HOMEPAGE ----------------------------
*/

#HomePageImageContainer {
  position: relative;
  width: 50%;
}

#HomePageImageContainer > img {
  width: auto;
  height: auto;
}

/*
------------------------------ALL FRUIT PAGE----------------------------
*/

.FruitCard {
  cursor: pointer;
}
